.translator-label{
    position: relative;
}

.translator-label .translator-edit{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ccccff;
    font-size: 12px;
    display: none;
    z-index: 1000;
    cursor: pointer;
    padding: 2px;
}

.translator-modal{
    display: none;
    position: absolute;
    width: 540px;
    min-height: 180px;
    background-color: white;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin-left: -270px;
    margin-top: -200px;
    padding: 45px 20px 10px 20px;
}

.translator-modal h3{
    position: absolute;
    top: 20px;
    left: 20px;  
    padding: 0px;
    margin: 0px;
}
.translator-modal span.translator-close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;    
}

.translator-modal .translator-buttons{
    text-align: right;
}
#translator-modal-background{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.translator-form{
    padding: 5px;
    min-width: 250px;
    z-index: 1000;
    line-height: 30px;
}

.translator-label:hover .translator-edit{
    display: block;
}

.translator-form label{
    display: inline-block;
    width: 120px;
    vertical-align: top;
}

.translator-form input[type=text],
.translator-form textarea,
.translator-form select{
    width: 400px;    
    max-width: 400px;
    min-width: 400px;
}
