#translator-form{
    position: absolute;
    width: 540px;
    min-height: 180px;
    background-color: #E3E2E2;
    border: 1px solid #BBB;
    top: 5px;
    left: -561px;
    z-index: -1 !important;;
    padding: 10px;
    display: none;
    line-height: 25px;
}
#translator-form h3{
    margin: 5px;
    padding: 0px;
}
#translator-form label{
    display: inline-block;
    width: 105px;
    vertical-align: top;
    font-weight: bold;
}
#translator-form .translator-buttons{
    text-align: right;
}
#translator-form input[type=text],
#translator-form textarea,
#translator-form select{
    width: 430px;    
    max-width: 430px;
    min-width: 430px;
    background-color: white;
    border: 1px solid #D1CCCC;
    margin: 0px;
    padding: 0px;
}
#translator-message{
    float: left;
    font-size: 12px;
    font-weight: normal;
    color: #888;
}
#translator-list{
    position: fixed;
    right: 10px;
    top: -1000px;
    width: 200px;
    max-height: 600px;
    overflow: visible;
    padding: 0px;
    z-index: 15000;    
    background-color: #F7F7F7;
    cursor: pointer;
}
#translator-list .translator-list{
    border: 1px solid #BBB;
    background-color: #F7F7F7; 
    padding-top: 20px;
}
#translator-list .translator-list,
#translator-list .translator-list *{
    z-index: 1;    
}
#translator-list hr{
    margin-top: 0px;
}

#translator-list ul{
    margin:  0px;
    padding: 0px;
    overflow: auto;
    max-height: 500px;
    list-style-type: none;
    color: #333;
    cursor: default;
}
#translator-list ul li{
    padding:3px 10px;
}
#translator-list ul li.hover{
    background-color: #E3E2E2;
    margin-left: -1px;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

#translator-list ul a{
    color: #333;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.translator-buttons img{
    display: none;
    float: left;
    width: 30px;
}
.translator-buttons input{
    background-color: #C4CDD4 !important;
    border-color: #566369 !important;
    color: black !important;
}
